@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    font-family: 'Aboreto', cursive;
}

@keyframes vanish {
    from {margin-top: -20px;}
    to {margin-top: -200px;}
}

.vanished {
    margin-top: -10.5%;
}

header {
    transition: all 2s ease;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -10px 5%;
    left: 20px;
    right: 20px;
    top: 20px;
    background-color: maroon;
    color: goldenrod;
    font-size: xx-large;
    position: fixed;
    border-bottom: solid goldenrod 10px;
    z-index: 5;
    width: 100%;
}

.logo {
    font-weight: 600;
    width: 40%;
    margin-right: -20%;
}

.motto {
    width: 7em;
    margin-right: 1.4em;
    margin-left: 0em; 
    text-align: center;
    font-size: 2vh;
}

.headline {
    font-size: 3vh;
}

section {
    height: 500px;
}

.hero {
    height: 30cm;
}

#svg {
    width: fit-content;
}

.map {
    display: flex;
    justify-content: center;
    height: 100%;
}

body {
    background-color: #5F1E6F;
}

.province {
    fill: maroon;
}

.province:hover {
    fill: red;
}

.selected {
    transition: all 2s ease;
    /*transform: scale(200%) translateX(0%);*/
    fill: pink;
    stroke: red;
    stroke-width: .3%;
}

.emperor {
    position: relative;
    left: 20%;
    top: 45%;
    height: 50%;
    display: inline-block;
    text-align: center;
}

.emperor img {
    height: 100%;
}

.emperor h3 {
    position: relative;
    display: block;
    color: darkgoldenrod;
    font-size: x-large;
    bottom: 10%;
}

.quote {
    position: relative;
    width: 35%;
    text-align: center;
    left: 50%;

    color: goldenrod;
    font-size: xx-large;
}

.svgmap {
    width: 80vw;
}

.description {
    display: flex;
    align-items: center;
    width: 100%;
    color: darkgoldenrod;
}

.avatar {
    position: relative;
    justify-content: center;
    display: inline-block;
    border: solid 20px darkgoldenrod;
    border-radius: 20px;
    left: 6vw;
}

.avatar img {
    max-height: 20vh;
    max-width: 30vw;
}

.elaboration {
    text-align: center;
    position: relative;
    display: block;
    width: 35vw;
    font-size: x-large;
    left: 25vw;
}